WebContent/xsd/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/book" 
		elementFormDefault="qualified">
		
	<xsd:element name="book">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:string"></xsd:element>
				<xsd:element name="author" type="xsd:string"></xsd:element>
				<xsd:element name="publisher" type="xsd:string"></xsd:element>
				<xsd:element name="price" type="xsd:integer"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
		
</xsd:schema>

